@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common property */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

button {
  border-radius: 5px;
  background: #fff;
  color: #005fac;
  border: none;
  font-size: 20px;
  padding: 20px 25px;
  font-weight: 600;
  cursor: pointer;
}

.container {
  width: 71%;
  max-width: 1140px;
  margin: 130px auto;
}

/* banner section */

header {
}

.banner .banner-container * {
  margin-bottom: 23px;
}

.banner {
  background-image: url("../images/banner/banner3.png");
  width: 1600px;
  height: 808px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

.banner-container {
  text-align: right;
  padding-right: 220px;
  width: 500px;
}

.banner .banner-container h2 {
  color: #fff;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner .banner-container p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* failure section */

.failure-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 65px;
}

.failure-flex .failure-img img {
  width: 100%;
  vertical-align: middle;
}

.failure-flex .failure-text h2 {
  width: 288px;
  color: #151414;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.failure-flex .failure-text p {
  width: 416px;
  color: var(--Dark-02, #444343);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.failure-flex .failure-text .list li {
  color: var(--Dark-02, #444343);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  list-style: none;
}

.failure-flex .failure-text .list ul li::before {
  content: "✓ ";
  color: rgb(33, 176, 33);
  font-weight: 900;
}

.failure-flex .failure-text {
  display: flex;
  align-items: center;
  padding-top: 200px;
}

.failure-flex .failure-text * {
  margin-bottom: 16px;
}

/* plan section */

#plan .plan-container .plan-heading {
  text-align: center;
  color: #151414;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 50px;
}

#plan .plan-container .plan-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#plan .plan-container .plan-description .description * {
  margin-bottom: 17px;
}

#plan .plan-container .plan-description h3 {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#plan .plan-container .plan-description p {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* contact section */

.bg-image {
  background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
  width: 1140px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

#contact .bg-image .bg-image-padding {
  padding-left: 64px;
}

#contact .bg-image .bg-image-padding h2 {
  width: 459px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

/* footer section */
footer {
  /* width: 1600px; */
  height: 577px;
  background: var(--Dark-01, #151414);
  flex-shrink: 0;
  color: #f8f8f8;
}

.footer-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 330px;
}

.footer-column {
  width: 50%;
}

.footer-container .future-description * {
  margin-bottom: 16px;
}

.footer-container .future-description h2 {
  margin-top: 130px;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-container .social-link a {
  margin-right: 20px;
}

form input {
  display: block;
}

.footer-container .subscribe h3 {
  margin-top: 130px;
  margin-bottom: 30px;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-container .subscribe .email {
  /* color: var(--Dark-07, #f3f3f3); */
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 21px 158px 21px 21px;
  background-color: #151414;
  color: white;
}

::placeholder {
  color: #fff;
}

.footer-container .subscribe input[type="submit"] {
  border-radius: 8px;
  background: #005fac;

  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 35px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.footer-container .subscribe input[type="submit"]:hover {
  background-color: #0763f7fe;
}
